<% if @issue.project && User.current.allowed_to?(:set_issue_access_control, @issue.project) %>
  <% # Load styles and scripts for the access control form %>
  <%= stylesheet_link_tag 'issue_access_control', plugin: 'redmine_issue_access_control' %>
  <%= javascript_include_tag 'issue_access_control', plugin: 'redmine_issue_access_control' %>
  
  <fieldset class="collapsible collapsed" id="issue_access_control_fieldset">
    <legend onclick="toggleFieldset(this);" class="icon icon-collapsed">
      <%= l(:label_issue_access_control) %>
    </legend>

    <div style="display: none;">
      <p>
        <!-- Search filter input for principal name filtering -->
        <input type="text" 
               id="issue_access_control_search"
               class="issue-access-control-search"
               placeholder="<%= l(:label_filter) %>"
               style="width: 95%; margin-bottom: 5px; padding: 3px;" />

        <!-- Scrollable container for principal selection checkboxes -->
        <span id="issue_access_control_inputs" 
              class="issue-access-control-inputs"
              style="display: block; max-height: 200px; overflow-y: auto; border: 1px solid #ebebeb; padding: 5px; background: white;">
          
          <!-- Hidden field ensures params are sent even with zero selections -->
          <%= hidden_field_tag 'issue_access_control[principal_ids][]', '' %>
          
          <!-- Principal (user/group) selection checkboxes -->
          <% @issue.project.principals.sort.each do |principal| %>
            <label class="issue-access-control-label" 
                   data-name="<%= principal.name.downcase %>" 
                   style="display: block; float: left; width: 270px; border-bottom: 1px solid #ddd;">
              <%= check_box_tag 'issue_access_control[principal_ids][]',
                                principal.id,
                                @issue.allowed_principals.include?(principal),
                                id: "issue_access_control_principal_#{principal.id}" %>
              <%= principal.name %>
            </label>
          <% end %>
        </span>

        <br style="clear:both;" />
        <em class="info issue-access-control-help"><%= l(:help_issue_access_control) %></em>
      </p>
    </div>
  </fieldset>
<% end %>
